* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;

}

/* row1 */

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    background-color: #1F2937;
    color: #ffff;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.body {
    color: #E5E7EB;
    max-width: 400px;
}
.placeholder {
    background-color: darkgray;
    color: #E5E7EB;
    padding: 100px;
}

.btn {
    padding: 5px 20px;
    border-radius: 6px;
    border-style: none;
    background-color: #3882F6;
    color: white;
}

/* row2 */
.row2 {
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.info {
    max-width: 150px;
    color: gray;
}

.image {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

/* row3 */

.row3 {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quote-container{
    max-width: 800px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
}

.author {
    color: #1F2937;
    text-align: end;
}

/* row4 */
.row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.shell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 40px 100px 40px 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    max-width: 1000px;
    border-radius: 20px;
}

.btn2 {
        padding: 5px 20px;
        border-radius: 6px;
        border-color:#E5E7EB;
        border-style: solid;
        background-color: #3882F6;
        color: white;
}


